body {
    margin: 0 25%;
}
header {
    background-color: lightgrey;
    text-align: center;
    border-bottom: 2px solid orange;
}
img {
    width: 200px;
    height: 200px;
}
main {
    margin-left: 2%;
}
h2 {
    color: orange;
}
footer {
    text-align: center;
    font-size: 50%;
    border-top: 2px solid orange;
}