body {
    background-image: url("img/0c44bba34a1ada03ab3028b0d40f670e.jpg");
}
h1 {
    color: orange;
    text-align: center;
    border: 2px solid orange;
    background-color: #000000d3;
    margin: 0 25%;
    margin-bottom: 2%;
    font-family: 'SpookyHunterDEMO';
    /*font-family: 'Griffy';*/
    font-size: 50px;
}
form {
    text-align: center;
    color: orange;
    font-size: 30px;
    border: 2px solid orange;
    font-family: 'SpookyHunterDEMO';
    /* font-family: 'Spooky Party - Personal Use'; */
    /* font-family: 'Henny Penny';*/
}
footer {
    text-align: center;
    background-color: orange;
    margin: 0 45%;
    font-size: 70%;
    /*margin-top: 2%;*/
    font-family: 'SpookyHunterDEMO';
    /*font-family: 'Griffy';*/
}
.form-container {
    background-color: #000000d3;
    margin: 0 40%;

}
.number::-webkit-inner-spin-button,
.number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
/* Firefox */
.number {
    -moz-appearance: textfield;
}
/*.row-form {
    display: inline-block;
}*/
/*.row-container {
    padding: 8px;
}*/
/*.label-container {
    padding: 2px;
    padding-bottom: 5px;
}*/
/*.row-button {
    padding-bottom: 10px;
}*/
@font-face {
    font-family: 'SpookyHunterDEMO';
    src: url(fonts/SpookyHunterDEMO.otf);
}
/*@font-face {
    font-family: 'Spooky Party - Personal Use';
    src: url(fonts/Spooky\ Party\ -\ Personal\ Use.ttf);
}*/